* { margin:0; padding: 0; }

body {
	width: 100%;
	min-width: 960px;
	height: 100%;
	background-color: rgb(67, 152, 205);
	text-align: center;
	font-family: 'Play', sans-serif;
	overflow: hidden; }


.brand {
	width: 289px;
	margin-top: 20px;
	opacity: 0.8; }

.brand:hover { opacity: 1; cursor: pointer; }

p {
	font-size: 2em;
	color: #fff;
	margin-top: 30px; }

.water {
	background-color: rgb(23, 92, 160);
	height: 260px;
	width: 100%;
	min-width: 960px;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 0;	}

.ruler { 
	width: 40px;
	height: 400px;
	background-color: #fff;
	border-radius: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999; }

.btn {
	height: 45px;
	width: 198px;
	background-color: rgb(218, 95, 31);
	color: #fff;
	line-height: 45px;
	border-radius: 4px;
	display: inline-block;
	margin-top: 25px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.29) 2px 2px 3px 0px;
	box-shadow: rgba(0, 0, 0, 0.29) 2px 2px 3px 0px;
	text-decoration: none; }

.btn:hover { background-color: rgb(240, 128, 70); }

.mouse-drop {
	width: 100%;
	height: 86px;
	top: -120px;
	z-index: 1;
	position: relative;
	text-align: center;	}

.drop {
	width: 86px;
	height: 100px;
	background: url('../img/pingo.png') no-repeat;
	display: inline-block;
	position: absolute;
	z-index: -1;
	font-size: 2em;
	text-align: center;
	font-weight: normal;
	line-height: 1em;
	color: rgb(85, 85, 85);
	letter-spacing: -2px;
	font-family: Play;
	padding-top: 25px;	}

/* Waves*/
.waves {
	width: 100%;
	height: 124px;
	position: relative;
	top: -120px;
	z-index: 0;
	display: block;		}

.wave-1 {
	background: url('../img/onda-1.png') repeat-x;
	display: block;
	width: 100%;
	height: 124px;
	-webkit-animation: make-wave-2 50s linear infinite;
	animation: make-wave-2 50s linear infinite; }

.wave-2 {
	background: url('../img/onda-2.png') repeat-x;
	position: relative;
	z-index: -1;
	top: -124px;
	display: block;
	width: 100%;
	height: 109px;
	-webkit-animation: make-wave-1 50s linear infinite;
	animation: make-wave-1 50s linear infinite; }

@-webkit-keyframes make-wave-1 {
	 0%  { background-position-x: 0; }
	 25% { background-position-x: 100%; }
	 50%  { background-position-x: 0; }
	 100% { background-position-x: 100%; }
}

@keyframes make-wave-1 {
	 0%  { background-position-x: 0; }
	 25% { background-position-x: 100%; }
	 50%  { background-position-x: 0; }
	 100% { background-position-x: 100%; }
}

@-webkit-keyframes make-wave-2 {
	 0% { background-position-x: 100%; }
	 25%  { background-position-x: 0; }
	 50% { background-position-x: 100%; }
	 100%  { background-position-x: 0; }
}

@keyframes make-wave-2 {
	 0% { background-position-x: 100%; }
	 25%  { background-position-x: 0; }
	 50% { background-position-x: 100%; }
	 100%  { background-position-x: 0; }
}

/* MODAL */
.btn.btn-big {
	font-size: 18px;
	padding: 15px 20px;
	min-width: 100px;
}

.btn-close {
	color: #aaaaaa;
	font-size: 30px;
	text-decoration: none;
	position: absolute;
	right: 5px;
	top: 0;
}

.btn-close:hover {
	color: #919191;
}

.modal:before {
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.modal:target:before {
	display: block;
}

.modal:target .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	top: 20%;
}

.modal-dialog {
	background: #fefefe;
	border: #333333 solid 1px;
	border-radius: 5px;
	margin-left: -350px;
	position: fixed;
	left: 50%;
	top: -100%;
	z-index: 11;
	width: 700px;
	-webkit-transform: translate(0, -500%);
	-ms-transform: translate(0, -500%);
	transform: translate(0, -500%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.modal-body {
	padding: 20px;
}

.modal-header,
.modal-footer {
 	padding: 10px 20px;
}

.modal-header {
 	border-bottom: #eeeeee solid 1px;
}

.modal-header h2 {
	font-size: 20px;
}

.modal-footer {
	border-top: #eeeeee solid 1px;
	text-align: right;
}

#close {
	display: none;
}

.btn-fechar {
	width: 70px;
	text-align: center;
	margin-right: -10px;
}
